h1{
    color:darkslateblue;
    text-align: center;
    font-size: 50px;
}

p{
    color: gray;
    font-size: 30px;
    text-align: left;
}

pre{
    font-weight:600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
}

a{
    font-size: 17px;
    font-style: italic;
}